@tailwind base;
@tailwind components;
@tailwind utilities;


::selection {
  background-color:#1d1d1d;
  color:#fff;
}

html {
  --line-color: #e5e7eb;
}

html.dark {
  --line-color: rgba(255, 255, 255, 0.2);
}

.borderBlack {
  @apply border border-black/10;
}